In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
spy_df = pd.read_csv('data/clean/SPY_2023_eod.csv', index_col = 0, parse_dates = True)

In [68]:
spy_df = pd.read_csv('data/clean/SPY_2023_eod.csv')
spy_df.columns = spy_df.columns.str.strip()         
spy_df.reset_index(inplace=True)                    
spy_df['QUOTE_DATE'] = pd.to_datetime(spy_df['QUOTE_DATE'])
spy_df['EXPIRE_DATE'] = pd.to_datetime(spy_df['EXPIRE_DATE'])

In [70]:
spy_df.drop(columns=['index'], inplace=True)

In [71]:
spy_df.head()

,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,C_BID,C_ASK,C_IV,C_DELTA,...,P_ASK,P_IV,P_DELTA,P_GAMMA,P_THETA,P_VEGA,P_RHO,P_VOLUME,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT
0,2023-08-01,16.0,456.45,2023-08-01,0.0,370.0,86.49,86.58,3.61938,0.97443,...,0.01,1.34825,-0.00084,0.00003,-0.00491,0.00060,0.00000,0.0,86.4,0.189
1,2023-08-01,16.0,456.45,2023-08-01,0.0,380.0,76.49,76.58,3.26940,0.97349,...,0.01,1.17318,-0.00126,0.00015,-0.00504,0.00083,0.00000,0.0,76.4,0.167
2,2023-08-01,16.0,456.45,2023-08-01,0.0,388.0,68.49,68.59,3.00529,0.97023,...,0.01,1.03520,-0.00132,0.00014,-0.00463,0.00069,-0.00022,0.0,68.4,0.150
3,2023-08-01,16.0,456.45,2023-08-01,0.0,390.0,65.96,67.04,2.89604,0.97611,...,0.01,1.00051,-0.00046,0.00013,-0.00491,0.00050,0.00000,0.0,66.4,0.146
4,2023-08-01,16.0,456.45,2023-08-01,0.0,395.0,60.96,62.03,2.72683,0.97421,...,0.01,0.91580,-0.00140,0.00018,-0.00473,0.00034,-0.00019,0.0,61.4,0.135

In [57]:
len(spy_df)

578743

In [58]:
spy_df.head()

,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,C_BID,C_ASK,C_IV,C_DELTA,C_GAMMA,...,P_ASK,P_IV,P_DELTA,P_GAMMA,P_THETA,P_VEGA,P_RHO,P_VOLUME,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT
QUOTE_DATE,,,,,,,,,,,,,,,,,,,,,
2023-08-01,16.0,456.45,2023-08-01,0.0,370.0,86.49,86.58,3.61938,0.97443,0.00340,...,0.01,1.34825,-0.00084,0.00003,-0.00491,0.00060,0.00000,0.0,86.4,0.189
2023-08-01,16.0,456.45,2023-08-01,0.0,380.0,76.49,76.58,3.26940,0.97349,0.00422,...,0.01,1.17318,-0.00126,0.00015,-0.00504,0.00083,0.00000,0.0,76.4,0.167
2023-08-01,16.0,456.45,2023-08-01,0.0,388.0,68.49,68.59,3.00529,0.97023,0.00503,...,0.01,1.03520,-0.00132,0.00014,-0.00463,0.00069,-0.00022,0.0,68.4,0.150
2023-08-01,16.0,456.45,2023-08-01,0.0,390.0,65.96,67.04,2.89604,0.97611,0.00541,...,0.01,1.00051,-0.00046,0.00013,-0.00491,0.00050,0.00000,0.0,66.4,0.146
2023-08-01,16.0,456.45,2023-08-01,0.0,395.0,60.96,62.03,2.72683,0.97421,0.00609,...,0.01,0.91580,-0.00140,0.00018,-0.00473,0.00034,-0.00019,0.0,61.4,0.135

In [76]:
smile_features = pd.read_csv('data/smile_features.csv')

In [77]:
smile_features.head()

   Unnamed: 0  quote_date expire_date    atm_iv      skew  curvature
0           0  2023-08-01  2023-08-01  0.368407 -5.294118  79.521206
1           1  2023-08-01  2023-08-02  0.075963 -5.731881  11.236018
2           2  2023-08-01  2023-08-03  0.097738 -4.005577   9.032630
3           3  2023-08-01  2023-08-04  0.103226 -3.435891   4.026443
4           4  2023-08-01  2023-08-07  0.097024 -1.872508  14.080939

In [79]:
smile_df = smile_features
smile_df.drop(columns=['Unnamed: 0'], inplace=True)

In [81]:
term_structure = pd.read_csv('data/term_structure.csv')

In [82]:
term_df = term_structure

In [83]:
term_df.head()

,quote_date,iv_slope,iv_curvature,short_term_iv,long_term_iv,term_spread
0,2023-01-03,0.002753,-0.000129,0.206402,0.213799,0.007397
1,2023-01-04,0.002241,-0.000095,0.204112,0.210150,0.006038
2,2023-01-05,-0.000048,0.000024,0.221476,0.221383,-0.000093
3,2023-01-06,0.004168,-0.000198,0.185371,0.196562,0.011192
4,2023-01-09,0.001635,-0.000065,0.205990,0.210401,0.004412

In [84]:
smile_df.head()

  quote_date expire_date    atm_iv      skew  curvature
0 2023-08-01  2023-08-01  0.368407 -5.294118  79.521206
1 2023-08-01  2023-08-02  0.075963 -5.731881  11.236018
2 2023-08-01  2023-08-03  0.097738 -4.005577   9.032630
3 2023-08-01  2023-08-04  0.103226 -3.435891   4.026443
4 2023-08-01  2023-08-07  0.097024 -1.872508  14.080939

In [85]:
spy_df['moneyness'] = spy_df['STRIKE'] / spy_df['UNDERLYING_LAST']
spy_df['mid_iv'] = 0.5 * (spy_df['C_IV'] + spy_df['P_IV'])
spy_df['mid_delta'] = 0.5 * (spy_df['C_DELTA'] + spy_df['P_DELTA'])
spy_df['mid_gamma'] = 0.5 * (spy_df['C_GAMMA'] + spy_df['P_GAMMA'])
spy_df['mid_theta'] = 0.5 * (spy_df['C_THETA'] + spy_df['P_THETA'])
spy_df['mid_vega'] = 0.5 * (spy_df['C_VEGA'] + spy_df['P_VEGA'])

In [86]:
smile_df.columns = smile_df.columns.str.lower()  # ensure consistent merge keys
merged_df = spy_df.merge(
    smile_df,
    how='left',
    left_on=['QUOTE_DATE', 'EXPIRE_DATE'],
    right_on=['quote_date', 'expire_date']
)

In [88]:
merged_df['QUOTE_DATE'] = pd.to_datetime(merged_df['QUOTE_DATE'])
term_df['quote_date'] = pd.to_datetime(term_df['quote_date'])

In [89]:
merged_df = merged_df.merge(
    term_df,
    how='left',
    left_on='QUOTE_DATE',
    right_on='quote_date'
)

In [90]:
merged_df.head()

,QUOTE_DATE,QUOTE_TIME_HOURS,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,C_BID,C_ASK,C_IV,C_DELTA,...,expire_date,atm_iv,skew,curvature,quote_date_y,iv_slope,iv_curvature,short_term_iv,long_term_iv,term_spread
0,2023-08-01,16.0,456.45,2023-08-01,0.0,370.0,86.49,86.58,3.61938,0.97443,...,2023-08-01,0.368407,-5.294118,79.521206,2023-08-01,0.007224,-0.000354,0.1073,0.126683,0.019383
1,2023-08-01,16.0,456.45,2023-08-01,0.0,380.0,76.49,76.58,3.26940,0.97349,...,2023-08-01,0.368407,-5.294118,79.521206,2023-08-01,0.007224,-0.000354,0.1073,0.126683,0.019383
2,2023-08-01,16.0,456.45,2023-08-01,0.0,388.0,68.49,68.59,3.00529,0.97023,...,2023-08-01,0.368407,-5.294118,79.521206,2023-08-01,0.007224,-0.000354,0.1073,0.126683,0.019383
3,2023-08-01,16.0,456.45,2023-08-01,0.0,390.0,65.96,67.04,2.89604,0.97611,...,2023-08-01,0.368407,-5.294118,79.521206,2023-08-01,0.007224,-0.000354,0.1073,0.126683,0.019383
4,2023-08-01,16.0,456.45,2023-08-01,0.0,395.0,60.96,62.03,2.72683,0.97421,...,2023-08-01,0.368407,-5.294118,79.521206,2023-08-01,0.007224,-0.000354,0.1073,0.126683,0.019383

In [94]:
len(merged_df)

578743

In [95]:
#iv threshold as 0.04
merged_df['label'] = (merged_df['mid_iv'] > merged_df['atm_iv'] + 0.04).astype(int)

In [96]:
merged_df.to_csv('data/features.csv')